.card {
  height: 250px;
  margin: 5px;
  position: relative;
}
.image {
  object-fit: cover;
  border: 2px solid black;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  padding: 1.5rem;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  border: 1px solid black;
  cursor: pointer;
}
.card:hover .info {
  opacity: 0.9;
}
